<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeatherApp</title>
</head>
<body>
  {% csrf_token %}
  {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  See the weather in:<select id="locations"></select>
  <button id="weather_button">Submit</button>
  <pre id="weather_json"></pre>
  {% endif %}
  {% if user.is_staff %}
  <input id="text_input" type="text"/>
  <button id="post_button">Add location</button>
  <br><br>
  <select id="locations_update"></select>
  <input id="text_input_update" type="text"/>
  <button id="update_button">Update location</button>
  <br><br>
  <select id="locations_delete"></select>
  <button id="delete_button">Delete location</button>
  <br><br><br><br>
  See the user details of the:<select id="users"></select>
  <button id="user_button">Submit</button>
  <pre id="user_json"></pre>
  Username:<input id="user_input_post_username" type="text"/>
  Password:<input id="user_input_post_password" type="text"/>
  Admin?:<select id="user_input_post_admin"><option>true</option><option>false</option></select>
  <button id="user_post_button">Add user</button>
  <br><br>
  <select id="users_update"></select>
  Username:<input id="user_input_update_username" type="text"/>
  Password:<input id="user_input_update_password" type="text"/>
  Admin?:<select id="user_input_update_admin"><option>true</option><option>false</option></select>
  <button id="user_update_button">Update user</button>
  <br><br>
  <select id="users_delete"></select>
  <button id="user_delete_button">Delete user</button>
  {% endif %}
  <br><br><br><br>
  See the logs of the selected user id:<select id="users_log"></select>
  <button id="user_log_post_button">Submit</button>
  <button id="user_log_1_minute">Last 1 minute logs</button>
  <button id="user_log_5_minutes">Last 5 minutes logs</button>
  <br><br>
  See the logs for this location of the selected user id:<select id="locations_users_log"></select>
  <button id="locations_user_log_button">Submit</button>
  <br><br>
  See the logs that failed or succeeded of the selected user id:
  <select id="success_user_log"><option>True</option><option>False</option></select>
  <button id="locations_user_log_success_button">Submit</button>
  <pre id="logs_json"></pre>
</body>
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous">
</script>
<script type="text/javascript" src="../static/js/app.js"></script>
</html>